.background {
    display: flex;
    background-image: url('../../assets/images/landing/landing.jpg');
    background-position: center;
    background-size: 90%;
    /*     background-size:auto; */
    width: 100%;
    height: 100%;
}

/* ~~~~~ GALERÍA ~~~~~*/
.gallery {
    height: 100%;
    width: inherit;
    top: 0;
    display: flex;
    overflow: hidden;
}

img {
    height: 100%;
    transition: all 1s ease;
    width: 100%;
}

.plane {
    width: 50%;
    transition: all 1s ease;
    overflow: hidden;
    position: relative;
}

.plane:hover {
    transform: scaleX(1.1);
}

.plane.seleccionado {
    width: 100%;
    height: 100%;
    transform: scaleX(1.1);
}

.hidePlane{
    width: 0%;
}

.seleccionado img{
    width: 100%;
}

.dot {
    margin: 1rem;
    height: 1.5rem;
    width: 1.5rem;

    border: 1px solid rgb(71, 71, 71);
    border-radius: 50%;
    display: inline-block;
}

.dot:hover {
    border: 1px solid #ffff;
    transition: .3s;
}

.back-button {
    display: flex;
    position: absolute;
    cursor: pointer;
    left: 3.5rem;
    z-index: 1;
    align-items: center;
    color: #ffff;
}
