<!-- <app-cover></app-cover> -->

<div class="background" id="background">
    <app-navbar></app-navbar>

    <div class="back-button" (click)="showGallery()">
        <div class="dot">
        </div>
        <p>
            BACK
        </p>
    </div>

    <div class="gallery">
        <div class="plane" *ngFor="let plane of planes; let i = index" (click)="selectPlane(i)"
        [ngClass]="{'seleccionado': i === elementoPresionado && elementoPresionado != -1, 
    'hidePlane': elementoPresionado != -1 && elementoPresionado != i}">
            <img src="../../assets/images/planes/{{plane}}.jpg" alt="">
        </div>
    </div>

</div>