<div class="window" id="preview">
    <div class="border"></div>
    <div class="text">
        landing works!
    </div>
    <button class="button-start" id="enter">
        ENTRAR
    </button>
</div>

<div class="background" id="background">
    <div class="navbar">
        <span class="navbar-item dot"></span>
        <span class="division"></span>
        <span class="navbar-item">HISTORIA</span>
        <span class="division"></span>
        <span class="navbar-item dot"></span>
    </div>

    <div class="back-button dot" id="backButton">

    </div>

    <div class="galeria" id="gallery">
        <div class="plane" id="mainPlane">
            <img src="../../assets/images/planes/innistrad.jpg" alt="">
        </div>
        <div class="plane">
            <img src="../../assets/images/planes/ixalan.jpg" alt="">
        </div>
        <div class="plane">
            <img src="../../assets/images/planes/ravnica.jpg" alt="">
        </div>

    </div>



</div>